body{
    background-image: url(http://i.stack.imgur.com/jGlzr.png);
}
h1{
    color: forestgreen;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: grey;
    padding: 50px;
    border: red 10px dotted;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
